html,
body {
    height: 100%;
    width: 100%;
}

#editor_container {
    height: 100%;
    width: 50%;
    float: left;
}

div.fixed {
    float: left;
    margin-left: 3%;
    margin-right: 5%;
}

#editor {
    display: block;
    width: 100%;
    height: 50%;
}

#editor_footer {
    display: inline-block;
    margin: 3%;
    width: 100%;
}

#inout {
    display: block;
    margin: 3%;
    height: auto;
}

span.container {
    position: relative;
    float: left;
    left: 25%;
    <!-- border: 3px solid #73AD21;
    -->
}

#compile_button {
    float: right;
    margin-right: 3%;
}

#run_button {
    float: right;
    position: relative;
    right: 22.1%;
}

div.io_header {
    position: relative;
    top: 405px;
    right: 1150px;
}

.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: orange;
}
