
     ul.wtf-menu{
     padding: 0px 10px;
     width: 130px;
     background: #fff;
     height: 50px;
     border-radius: 3px;
     font-size: 14px;
     
     /* Dropdown shadow */
     -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
     box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    }
     
    ul.wtf-menu li{
     list-style: none;
     float: left;
     padding: 0px 0px;
     margin: 0px 0px;
     line-height: 50px;
     display: block;
     position: relative;
     text-transform: uppercase;
    }
     
    ul.wtf-menu li a{
     color: #777;
     padding: 0px 15px;
     margin: 0px 0px;
     display: block;
    }
     
    ul.wtf-menu li a:hover{
     color:#06BA6D;
    }
    .wtf-menu ul.submenu{
    width: 180px;
    padding: 0px 0px;
    margin: 0px;
    background: #fff;
    position: absolute;
    top:50px;
    left:-10px;
    display:none;
 
    /*  Dropdown shadow */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
  }
  .wtf-menu ul.submenu ul{
    left: 180px;
    top:0px;
}
 
.wtf-menu ul.submenu li{
    padding: 0px;
    margin: 0px;
    display: block;
    float: none;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    text-transform: none;
}
 
.wtf-menu ul.submenu li:last-child{
    border: none;
  }
  .wtf-menu li:hover > ul{
    display:block;
    -moz-animation: fadeInDown .3s ease-in ;
    -webkit-animation: fadeInDown .3s ease-in ;
    animation:fadeInDown .3s ease-in ;
}
 
.wtf-menu ul li:hover > ul{
    display:block;
    -moz-animation: fadeInLeft .3s ease-in ;
    -webkit-animation: fadeInLeft .3s ease-in ;
    animation:fadeInLeft .3s ease-in ;
}

  